.container {
  flex-wrap: wrap;
  align-items: center;
}
.cobuyingItem img {
  width: 50%;
  height: auto;
  align-content: center;
}
.detaillist.content {
  margin-top: 70px;
}

.cobuyingItem {
  text-align: center;
  display: flex;
  width: 10rem;
  height: 10rem;
}
.deadline {
  font-size: xx-small;
}
.name {
  font-size: small;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 140px;
  height: 20px;
}
